.vs/AtTest/v15/Server/sqlite3/storage.ide-wal
.vs/AtTest/v15/Server/sqlite3/storage.ide-shm
.vs/AtTest/v15/Server/sqlite3/storage.ide
.vs/AtTest/v15/Server/sqlite3/db.lock
.vs/AtTest/v15/.suo
.vs/AtTest/DesignTimeBuild/.dtbcache
